[Unit]
Description=Dot Squad LED API Server
After=network.target

[Service]
User=pi
Type=simple
WorkingDirectory=/opt/projects/dev/chunky-cheese/pi/dot_squad

ExecStart=/opt/projects/dev/chunky-cheese/pi/dot_squad/venv/bin/uvicorn main:app --host 0.0.0.0 --port 4001

Restart=always
RestartSec=3

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target